# core dependencies
chromadb==0.4.24
sentence-transformers==2.6.1
numpy<2.0
huggingface-hub>=0.34.0,<1.0
einops
fastapi[standard]
langchain==0.2.17
langchain-core==0.2.43
langchain-community==0.2.19
langchain-chroma==0.1.4
langchain-huggingface==0.0.3
langchain-ollama==0.1.3

# for ingestion
pandas
python-docx
pypdf

# for RAM monitoring
psutil