# core dependencies
chromadb==0.4.24
sentence-transformers==2.6.1
numpy<2.0
huggingface-hub>=0.34.0,<1.0
einops==0.8.2
fastapi[standard]==0.136.3

# langchain dependencies
langchain==0.2.17
langchain-core==0.2.43
langchain-community==0.2.19
langchain-chroma==0.1.4
langchain-huggingface==0.0.3
langchain-ollama==0.1.3
langchain-experimental==0.0.64

# for ingestion
pandas==3.0.3
python-docx==1.2.0
pypdf==6.12.2
openpyxl==3.1.5

# for RAM monitoring
psutil==7.2.2